<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method=”post”>
    <ul>
        Gender:
        <li>
            <input
                    type = "checkbox"
                    id=”gender_m”
                    name=”gender”
                    value=”m”
            >
            <label for=”gender_m”>Male</label>
        </li>
        <li>
            <input
                    type="checkbox"
                    id=”gender_f”
                    name=”gender”
                    value=”f”
            >
            <label for=”gender_f”>Female</label>
        </li>
    </ul>
</form>


</body>
</html>